@import '../../../styles.settings.scss';

.team {
  display: flex;
  justify-content: space-between;

  .win {
    display: flex;
  }
  @include desktop {
    width: 38vw;
    .title {
      display: none;
    }
  }
}
