@import '../../../styles.settings.scss';

span {
  color: $text-color-second;
  transition: color 1s ease-out;
  min-width: 50px;
  display: block;
  text-align: right;

  &.down {
    color: $down-color;
  }

  &.up {
    color: $up-color;
  }

  @include mobile {
    text-align: right;
    min-width: 60px;
    margin-left: 10px;
  }
}
